@{

    ViewBag.Title = "Symbol Guessing";
}

<center class="content">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
            <b>Symbol Guessing</b> program is a desktop application.
            <br />
            It uses multi-layer artificial neural network which learns written symbols.
            <br />
            You can write any symbol on 64x64 grid and program will try to detect what you have written.
            <br />
            <hr />
            <a class="link" href="www.google.com">Download program here!</a>
        </div>
        <div class="col-1">
        </div>
    </div>
</center>


<style>

    .content {
        font-size: x-large;
        margin-top: 40px;
    }

    .link {
        font-size: xx-large;
    }

</style>

