@model ArtificialIntelligence.Models.TicTacToe.TicTacToe

@{
    ViewBag.Title = "Tic-Tac-Toe";
    var circleLink = "https://github.com/matpiwowarski/Local-Search-Algorithms/blob/master/N_Queens_problem/N_Queens_problem/Resources/circle.png?raw=true";
    var crossLink = "https://github.com/matpiwowarski/Local-Search-Algorithms/blob/master/N_Queens_problem/N_Queens_problem/Resources/cross.png?raw=true";

    void CheckIfCrossOrCircle(TicTacToeMove[,] ticTacToe, int x, int y)
    {
        if (ticTacToe[x, y] == TicTacToeMove.Cross)
        {
            <img src=@crossLink alt="cross" style="height: 100px; width: 100px;">
        }
        else if (ticTacToe[x, y] == TicTacToeMove.Circle)
        {
            <img src=@circleLink alt="circle" style="height: 100px; width: 100px;">
        }
        else
        {
            <img class="empty" src=@crossLink alt="cross" style="height:100px; width:100px;">
        }
    }
}

<center><h2>@ViewBag.Title: Minimax with alpha-beta pruning</h2></center>

@* TIC-TAC-TOE *@
<center>
    <div id="tictactoe">
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 0, 0);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 1, 0);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 2, 0);
            }
        </div>
        <br />
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 0, 1);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 1, 1);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 2, 1);
            }
        </div>
        <br />
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 0, 2);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 1, 2);
            }
        </div>
        <div class="box">
            @{
                CheckIfCrossOrCircle(Model.ticTacToeBoard, 2, 2);
            }
        </div>
    </div>
    @* User parameters *@
<div class="row" style="margin-top: 20px;">
    <div class="col">    <h3 class="text-primary" style="text-align: right;"> User: @Model.UserScore </h3></div>
    <div class="col">    <h3 style="text-align: center;"> Tie: @Model.TieScore   </h3></div>
    <div class="col">    <h3 style="text-align: left; color: red;"> Bot: @Model.BotScore   </h3></div>
</div>

</center>


<style>


    .box {
        background-color: lightgray;
        height: 100px;
        width: 100px;
        display: inline-block;
        margin: 5px;
    }

    .empty {
        visibility: hidden;
    }

    .box:hover .empty {
        visibility: visible;
        opacity: 0.3;
    }

    #tictactoe {
        margin-top: 60px;
    }
</style>