@model ArtificialIntelligence.Models.TicTacToe.TicTacToe

@{
    ViewBag.Title = "Tic-Tac-Toe";

}

<center><h2>@ViewBag.Title: Minimax with alpha-beta pruning</h2></center>

<div class="row">
    @* TIC-TAC-TOE*@
    <div class="col">

    </div>
    @* USER PARAMETERS*@
    <div class="col">

    </div>
</div>
